$primary-color: #007bff;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #cccccc;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2b;
  margin: 0;
  padding: 20px;
  box-sizing: border-box; /* Include padding in height/width calculations */
  overflow: hidden; /* Prevent scrollbars if content overflows */
}

.headerPageContainer {
  display: flex;
  width: 100%;
  height: 70px;
  max-height: 70px;
  align-items: center;
  border-radius: 20px;
  background-color: #525252e0;
}