$primary-color: #007bff;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #cccccc;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2b;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headerPageContainer {
  display: flex;
  width: 100%;
  height: 70px;
  max-height: 70px;
  align-items: center;
  border-radius: 20px;
  background-color: #525252e0;
}

.main {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
  
  > * {
    height: 100%;
    overflow: hidden;
  }
}