.languageSelector {
  display: flex;
    align-items: center;
}

.languageIcon{
    background-color: rgba(221, 221, 221, 0.904);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}